.left-indent-1 {
    padding-left: 0px;
}
.left-indent-2 {
    padding-left: 30px;
}
.left-indent-3 {
    padding-left: 60px;
}
.left-indent-4 {
    padding-left: 90px;
}
.left-indent-5 {
    padding-left: 120px;
}
.left-indent-6 {
    padding-left: 150px;
}
.left-indent-7 {
    padding-left: 180px;
}
.left-indent-8 {
    padding-left: 210px;
}