<section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div>
            <h2>
              <i class="bi bi-hourglass-top me-2"></i>Today's top highlights
            </h2>
            <p>
              Latest breaking news, pictures, videos, and special reports
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <!-- Card img -->
                <div>
                  <img
                    class="card-img"
                    src="/images/blog/4by3/01.jpg"
                  />
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"
                      >12 worst types of business accounts you follow on
                      Twitter</a
                    >
                  </h4>
                  <p>
                    He moonlights difficult engrossed it, sportsmen.
                    Interested has all Devonshire difficulty gay assistance
                    joy. Unaffected at ye of compliment alteration to
                  </p>
                  <!-- Card info -->
                  <ul class="nav card-info">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="avatar-box">
                          <div class="avatar">
                            <img src="/images/avatar/01.jpg" />
                          </div>
                          <span class="author">
                            <a href="#">by Samuel</a></span
                          >
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">• Jan 22, 2022</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <!-- Card img -->
                <div>
                  <img
                    class="card-img"
                    src="/images/blog/4by3/06.jpg"
                  />
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"
                      >Dirty little secrets about the business industry</a
                    >
                  </h4>
                  <p>
                    Place voice no arises along to. Parlors waiting so
                    against me no. Wishing calling is warrant settled was
                    lucky. Express besides it present if at an opinion
                    visitor.
                  </p>
                  <!-- Card info -->
                  <ul class="nav card-info">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="avatar-box">
                          <div class="avatar">
                            <img src="/images/avatar/02.jpg" />
                          </div>
                          <span class="author">
                            <a href="#">by Dennis</a></span
                          >
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">• Mar 07, 2022</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <!-- Card img -->
                <div>
                  <img
                    class="card-img"
                    src="/images/blog/4by3/03.jpg"
                  />
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"
                      >Bad habits that people in the industry need to
                      quit</a
                    >
                  </h4>
                  <p>
                    For who thoroughly her boy estimating conviction.
                    Removed demands expense account in outward tedious do.
                    Particular way thoroughly unaffected
                  </p>
                  <!-- Card info -->
                  <ul class="nav card-info">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="avatar-box">
                          <div class="avatar">
                            <img src="/images/avatar/03.jpg" />
                          </div>
                          <span class="author">
                            <a href="#">by Bryan</a></span
                          >
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">• Jun 17, 2022</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <!-- Card img -->
                <div>
                  <img
                    class="card-img"
                    src="/images/blog/4by3/04.jpg"
                  />
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"
                      >Around the web: 20 fabulous infographics about
                      business</a
                    >
                  </h4>
                  <p>
                    Projection favorable Mrs can be projecting own. Thirty
                    it matter enable become admire in giving. See resolved
                    goodness felicity shy civility domestic had but.
                  </p>
                  <!-- Card info -->
                  <ul class="nav card-info">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="avatar-box">
                          <div class="avatar">
                            <img src="/images/avatar/05.jpg" />
                          </div>
                          <span class="author">
                            <a href="#">by Billy</a></span
                          >
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">• Dec 29, 2022</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <!-- Card img -->
                <div>
                  <div class="card-image">
                    <img
                      class="card-img"
                      src="/images/blog/4by3/05.jpg"
                    />
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"
                      >7 common mistakes everyone makes while traveling</a
                    >
                  </h4>
                  <p>
                    Drawings offended yet answered Jennings perceive
                    laughing six did far. Rooms oh fully taken by worse do.
                    Points afraid but may end law lasted.
                  </p>
                  <!-- Card info -->
                  <ul class="nav card-info">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="avatar-box">
                          <div class="avatar">
                            <img src="/images/avatar/05.jpg" />
                          </div>
                          <span class="author">
                            <a href="#">by Jacqueline</a></span
                          >
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">• Nov 11, 2022</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <!-- Card img -->
                <div>
                  <img
                    class="card-img"
                    src="/images/blog/4by3/12.jpg"
                  />
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">5 investment doubts you should clarify</a>
                  </h4>
                  <p>
                    Was out laughter raptures returned outweigh. Luckily
                    cheered colonel I do we attack highest enabled. Tried
                    law yet style child. The bore of true of no be deal.
                  </p>
                  <!-- Card info -->
                  <ul class="nav card-info">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="avatar-box">
                          <div class="avatar">
                            <img src="/images/avatar/06.jpg" />
                          </div>
                          <span class="author">
                            <a href="#">by Carolyn</a></span
                          >
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">• Sep 01, 2022</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-content col-lg-3">
          <div>
            <!-- Social widget START -->
            <div class="row g-2">
              <div class="col-4">
                <a href="#" class="statistic text-body bg-facebook">
                  <i class="bi bi-facebook"></i>
                  <h6>1.5K</h6>
                  <span>Fans</span>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="statistic text-body bg-instagram">
                  <i class="bi bi-instagram"></i>
                  <h6>1.8M</h6>
                  <span>Followers</span>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="statistic text-body bg-youtube">
                  <i class="bi bi-youtube"></i>
                  <h6>22K</h6>
                  <span>Subs</span>
                </a>
              </div>
            </div>
            <!-- Social widget END -->

            <!-- Trending topics widget START -->
            <div>
              <h4 class="trending-topic-text">Trending topics</h4>
              <!-- Category item -->
              <div id="trending-topic-1" class="trending-topics">
                <div>
                  <a href="#" class="h5">Travel</a>
                </div>
              </div>
              <!-- Category item -->
              <div id="trending-topic-2" class="trending-topics">
                <div>
                  <a href="#" class="h5">Business</a>
                </div>
              </div>
              <!-- Category item -->
              <div id="trending-topic-3" class="trending-topics">
                <div>
                  <a href="#" class="h5">Marketing</a>
                </div>
              </div>
              <!-- Category item -->
              <div id="trending-topic-4" class="trending-topics">
                <div>
                  <a href="#" class="h5">Photography</a>
                </div>
              </div>
              <!-- Category item -->
              <div id="trending-topic-5" class="trending-topics">
                <div>
                  <a href="#" class="h5">Sports</a>
                </div>
              </div>
              <!-- View All Category button -->
              <div class="category-text">
                <a href="#"><u>View all categories</u></a>
              </div>
            </div>
            <!-- Trending topics widget END -->

            <div class="row">
              <!-- Recent post widget START -->
              <div class="recent-post col-12 col-sm-6 col-lg-12">
                <h4>Recent post</h4>
                <!-- Recent post item -->
                <div class="card">
                  <div class="row g-3">
                    <div class="col-4">
                      <img
                        class="news"
                        src="/images/blog/4by3/thumb/01.jpg"
                      />
                    </div>
                    <div class="col-8">
                      <h6>
                        <a href="#">The pros and cons of business agency</a>
                      </h6>
                      <div class="small">May 17, 2022</div>
                    </div>
                  </div>
                </div>
                <!-- Recent post item -->
                <div class="card">
                  <div class="row g-3">
                    <div class="col-4">
                      <img
                        class="news"
                        src="/images/blog/4by3/thumb/02.jpg"
                      />
                    </div>
                    <div class="col-8">
                      <h6>
                        <a href="#">5 reasons why you shouldn't startup</a>
                      </h6>
                      <div class="small">Apr 04, 2022</div>
                    </div>
                  </div>
                </div>
                <!-- Recent post item -->
                <div class="card">
                  <div class="row g-3">
                    <div class="col-4">
                      <img
                        class="news"
                        src="/images/blog/4by3/thumb/03.jpg"
                      />
                    </div>
                    <div class="col-8">
                      <h6>
                        <a href="#"
                          >Ten questions you should answer truthfully.</a
                        >
                      </h6>
                      <div class="small">Jun 30, 2022</div>
                    </div>
                  </div>
                </div>
                <!-- Recent post item -->
                <div class="card">
                  <div class="row g-3">
                    <div class="col-4">
                      <img
                        class="news"
                        src="/images/blog/4by3/thumb/04.jpg"
                      />
                    </div>
                    <div class="col-8">
                      <h6>
                        <a href="#">Five unbelievable facts about money.</a>
                      </h6>
                      <div class="small">Nov 29, 2022</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Recent post widget END -->

              <!-- ADV widget START -->
              <div class="advertisement col-12 col-sm-6 col-lg-12">
                <a href="#">
                  <img class="news" src="/images/adv.png" />
                </a>
                <div class="advertisement-text">
                  ads via <a href="#"><u>Bootstrap</u></a>
                </div>
              </div>
              <!-- ADV widget END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>