<div class="col-sm-6">
    <div class="card">
      <!-- Card img /images/blog/4by3/01.jpg -->
      <div>
        <img
          class="card-img"
          src=""
          />
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"
            >12 worst types of business accounts you follow on
            Twitter</a
          >
        </h4>
        <p>
          He moonlights difficult engrossed it, sportsmen.
          Interested has all Devonshire difficulty gay assistance
          joy. Unaffected at ye of compliment alteration to
        </p>
        <!-- Card info -->
        <ul class="nav card-info">
          <li class="nav-item">
            <div class="nav-link">
              <div class="avatar-box">
                <div class="avatar">
                  <img src="/images/avatar/01.jpg" />
                </div>
                <span class="author">
                  <a href="#">by Samuel</a></span
                >
              </div>
            </div>
          </li>
          <li class="nav-item">• Jan 22, 2022</li>
        </ul>
      </div>
    </div>
  </div>